@font-face {
   font-family: 'Paskowy';
   font-display: swap;
   src: url('file:///C:/Users/OscarDaFerfe/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-05-11_175143/fonts/Paskowy/font.ttf');
}
