@font-face {
   font-family: 'Paskowy';
   font-display: swap;
   src: url('Paskowy/font.ttf');
}
@font-face {
   font-family: 'GOPinch-Pixel';
   font-display: swap;
   src: url('GOPinch-Pixel/font.ttf');
}
